# Python

In [ ]:
print("Welcome to Lab-2")

In [5]:
###conditional statement

n=15
if n==9:
    print(n)
elif n>=10:
    print("Above 10")
else:
    print("False")

Above 10

In [8]:
###For Loop

for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [22]:
for x in range(10):
    if x==7:
        print(x)

7

In [32]:
###List

list=["Nusrat","Jahan","Marjana",12999,3.91,"Big","Data","Theory","Lab"]
list

['Nusrat', 'Jahan', 'Marjana', 12999, 3.91, 'Big', 'Data', 'Theory', 'Lab']

In [57]:
for i in list:
    print(i)

Nusrat
Jahan
Marjana
12999
3.91
Big
Data
Theory
Lab

In [58]:
print(list[3])

12999

In [59]:
print(list[2:])

['Marjana', 12999, 3.91, 'Big', 'Data', 'Theory', 'Lab']

In [60]:
print(list[2:5])

['Marjana', 12999, 3.91]

In [61]:
print(list[-1])

Lab

In [62]:
print(list[-4:-1])

['Big', 'Data', 'Theory']

In [63]:
###Tuple

tuple=("Nusrat","Jahan","Marjana",12999,3.91,"Big","Data","Theory","Lab")
tuple

('Nusrat', 'Jahan', 'Marjana', 12999, 3.91, 'Big', 'Data', 'Theory', 'Lab')

In [64]:
###Dictonary
dic={
    "Name":"Nusrat",              #dictonary don't allow duplicate values (See The updated name)
    "Name":"Marjana", 
    "ID":12999,
    "Course":"Big Data",
    "Section":"J+O"
}
dic

{'Name': 'Marjana', 'ID': 12999, 'Course': 'Big Data', 'Section': 'J+O'}

In [65]:
for x in dic:
    print(x)

Name
ID
Course
Section

In [66]:
print(dic["ID"])

12999

In [5]:
###Function

def Msg():
    a=input("Enter your name:")
    print("Hello",a)
Msg()

Enter your name:Nusrat
Hello Nusrat

In [8]:
def add():
    a=int(input("Enter first number:"))
    b=int(input("Enter second number:"))
    sum=a+b
    print(sum)
add()

Enter first number:2
Enter second number:3
5

In [11]:
def Sub(a,b):
    sub=a-b
    print(sub)
Sub(10,5)
Sub(20,5)
Sub(30,5)

5
15
25

In [14]:
###Sort

a_list=["Nusrat","Jahan","Marjana","Big","Data","Theory","Lab"]
a_list

['Nusrat', 'Jahan', 'Marjana', 'Big', 'Data', 'Theory', 'Lab']

In [18]:
a_list.sort()
a_list

['Big', 'Data', 'Jahan', 'Lab', 'Marjana', 'Nusrat', 'Theory']

In [17]:
###Reverse_sort
a_list.sort(reverse=True)
a_list

['Theory', 'Nusrat', 'Marjana', 'Lab', 'Jahan', 'Data', 'Big']

In [20]:
###Lambda Function

x=lambda a:a+10
print(x(3))

13

In [25]:
y=lambda a,b,c,d,e:(a+b+c+d+e)*10
print(y(1,2,3,4,5))

150

In [6]:
a = lambda x : sum(range(1, x+1))
a(10)

55